[package]
authors.workspace = true
categories.workspace = true
description = "rsql postgres driver"
edition.workspace = true
keywords.workspace = true
license.workspace = true
name = "rsql_driver_postgres"
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
async-trait = { workspace = true }
bit-vec = { workspace = true }
chrono = { workspace = true }
file_type = { workspace = true }
jiff = { workspace = true }
postgresql_embedded = { workspace = true }
rsql_driver = { path = "../../rsql_driver", version = "0.17.2", features = ["json"] }
rsql_driver_postgresql = { path = "../../drivers/postgresql", version = "0.17.2" }
rust_decimal = { workspace = true, features = ["db-tokio-postgres"] }
serde_json = { workspace = true, features = ["preserve_order"] }
sqlparser = { workspace = true }
tokio = { workspace = true, features = ["rt"] }
tokio-postgres = { workspace = true, features = ["array-impls", "with-bit-vec-0_6", "with-chrono-0_4", "with-serde_json-1", "with-uuid-1"] }
tracing = { workspace = true }
url = { workspace = true }
uuid = { workspace = true, features = ["serde", "v4"] }

[dev-dependencies]
tokio = { workspace = true, features = ["macros", "rt"] }

[features]
default = ["native-tls"]
native-tls = [
    "postgresql_embedded/native-tls",
]
rustls = [
    "postgresql_embedded/rustls",
]
