[package]
authors.workspace = true
categories.workspace = true
description = "rsql optimized row columnar driver"
edition.workspace = true
keywords.workspace = true
license.workspace = true
name = "rsql_driver_orc"
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
arrow-array = { workspace = true }
async-trait = { workspace = true }
file_type = { workspace = true }
orc-rust = { workspace = true }
polars = { workspace = true, features = ["json", "lazy"] }
polars-sql = { workspace = true }
rsql_driver = { path = "../../rsql_driver", version = "0.19.3" }
rsql_driver_polars = { path = "../polars", version = "0.19.3" }
tokio = { workspace = true }
url = { workspace = true }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
orc-rust = { workspace = true, features = ["async"] }
tokio = { workspace = true, features = ["fs"] }

[dev-dependencies]
rsql_driver_test_utils = { path = "../test_utils", version = "0.19.3" }
tokio = { workspace = true, features = ["macros", "rt"] }

