[workspace]
default-members = ["rsql_cli", "rsql_core", "rsql_drivers", "rsql_formatters"]
members = ["rsql_cli", "rsql_core", "rsql_drivers", "rsql_formatters"]
resolver = "2"

[workspace.package]
authors = ["Brian Heineman <brian.heineman@gmail.com>"]
categories = ["database"]
edition = "2021"
keywords = ["database", "mysql", "postgresql", "sql", "sqlite"]
license = "Apache-2.0 OR MIT"
repository = "https://github.com/theseus-rs/rsql"
version = "0.13.9"

[workspace.dependencies]
ansi_colours = "1.2.3"
anyhow = "1.0.86"
arboard = "3.4.0"
async-trait = "0.1.81"
base64 = "0.22.1"
bit-vec = "0.6.3"
chrono = "0.4.38"
clap = "4.5.15"
clap-stdin = "0.5.1"
clearscreen = "3.0.0"
colored = "2.1.0"
config = "0.14.0"
criterion = "0.5.1"
csv = "1.3.0"
dark-light = "1.1.1"
dirs = "5.0.1"
dotenvy = "0.15.7"
duckdb = "1.0.0"
form_urlencoded = "1.2.1"
futures-util = "0.3.30"
indexmap = "2.3.0"
indoc = "2.0.5"
indicatif = "0.17.8"
jwt-simple = "0.12.9"
libsql = "0.4.0"
mockall = "0.13.0"
num-format = "0.4.4"
octocrab = "0.39.0"
os_info = "3.8.2"
postgresql_embedded = "0.16.1"
quick-xml = "0.36.1"
regex = "1.10.6"
reqwest = "0.12.5"
rusqlite = "0.30.0"
rust_decimal = "1.35.0"
rust-i18n = "3.0.1"
rustyline = "14.0.0"
semver = "1.0.23"
serde = "1.0.203"
serde_json = "1.0.118"
serde_yaml = "0.9.34"
sha2 = "0.10.8"
sqlx = "0.7.4"
supports-color = "3.0.0"
sys-locale = "0.3.1"
syntect = "5.2.0"
tabled = "0.15.0"
tempfile = "3.11.0"
termbg = "0.5.0"
test-log = "0.2.16"
testcontainers = "0.21.1"
testcontainers-modules = "0.9.0"
thiserror = "1.0.63"
tiberius = { version = "0.12.3", default-features = false }
tokio = "1.38.0"
tokio-postgres = "0.7.10"
tokio-util = "0.7.11"
tracing = "0.1.40"
tracing-appender = "0.2.3"
tracing-indicatif = "0.3.6"
tracing-subscriber = "0.3.18"
unicode-width = "0.1.13"
url = "2.5.2"
uuid = "1.10.0"

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
panic = "abort"
strip = true

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

[workspace.metadata.release]
shared-version = true
dependent-version = "upgrade"
tag-name = "v{{version}}"

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.20.0"
# CI backends to support
ci = "github"
# Whether cargo-dist should create a Github Release or use an existing draft
create-release = false
# The installers to generate for each app
installers = ["shell", "powershell", "homebrew", "msi"]
# A GitHub repo to push Homebrew formulas to
tap = "theseus-rs/homebrew-tap"
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["aarch64-apple-darwin", "x86_64-apple-darwin", "x86_64-unknown-linux-gnu", "x86_64-pc-windows-msvc"]
# Post-announce jobs to run in CI
post-announce-jobs = ["./release-post-announce"]
# Publish jobs to run in CI
publish-jobs = ["homebrew"]
# Publish jobs to run in CI
pr-run-mode = "skip"
# Whether to install an updater program
install-updater = false
# Path that installers should place binaries in
install-path = "CARGO_HOME"

[workspace.metadata.dist.github-custom-runners]
aarch64-apple-darwin = "macos-14"
