[workspace]
default-members = [
    "drivers/arrow",
    "drivers/avro",
    "drivers/brotli",
    "drivers/bzip2",
    "drivers/cockroachdb",
    "drivers/cratedb",
    "drivers/csv",
    "drivers/delimited",
    "drivers/duckdb",
    "drivers/dynamodb",
    "drivers/excel",
    "drivers/file",
    "drivers/fwf",
    "drivers/gzip",
    "drivers/http",
    "drivers/https",
    "drivers/json",
    "drivers/jsonl",
    "drivers/libsql",
    "drivers/lz4",
    "drivers/mariadb",
    "drivers/mysql",
    "drivers/ods",
    "drivers/orc",
    "drivers/parquet",
    "drivers/polars",
    "drivers/postgres",
    "drivers/postgresql",
    "drivers/redshift",
    "drivers/rusqlite",
    "drivers/s3",
    "drivers/snowflake",
    "drivers/sqlite",
    "drivers/sqlserver",
    "drivers/test_utils",
    "drivers/tsv",
    "drivers/xml",
    "drivers/xz",
    "drivers/yaml",
    "drivers/zstd",
    "rsql_cli",
    "rsql_core",
    "rsql_driver",
    "rsql_drivers",
    "rsql_formatters",
    "rsql_repl",
]
members = [
    "drivers/arrow",
    "drivers/avro",
    "drivers/brotli",
    "drivers/bzip2",
    "drivers/cockroachdb",
    "drivers/cratedb",
    "drivers/csv",
    "drivers/delimited",
    "drivers/duckdb",
    "drivers/dynamodb",
    "drivers/excel",
    "drivers/file",
    "drivers/fwf",
    "drivers/gzip",
    "drivers/http",
    "drivers/https",
    "drivers/json",
    "drivers/jsonl",
    "drivers/libsql",
    "drivers/lz4",
    "drivers/mariadb",
    "drivers/mysql",
    "drivers/ods",
    "drivers/orc",
    "drivers/parquet",
    "drivers/polars",
    "drivers/postgres",
    "drivers/postgresql",
    "drivers/redshift",
    "drivers/rusqlite",
    "drivers/s3",
    "drivers/snowflake",
    "drivers/sqlite",
    "drivers/sqlserver",
    "drivers/test_utils",
    "drivers/tsv",
    "drivers/xml",
    "drivers/xz",
    "drivers/yaml",
    "drivers/zstd",
    "examples/*",
    "rsql_cli",
    "rsql_core",
    "rsql_driver",
    "rsql_drivers",
    "rsql_formatters",
    "rsql_repl",
]
resolver = "3"

[workspace.package]
authors = ["Brian Heineman <brian.heineman@gmail.com>"]
categories = ["database"]
edition = "2024"
keywords = ["database", "mysql", "postgresql", "sql", "sqlite"]
license = "Apache-2.0 OR MIT"
repository = "https://github.com/theseus-rs/rsql"
rust-version = "1.87.0"
version = "0.18.3"

[workspace.dependencies]
ansi_colours = "1.2.3"
anyhow = "1.0.98"
arboard = "3.4.1"
arrow-array = "53.4.1"
async-trait = "0.1.88"
axoupdater = "0.9.0"
aws-credential-types = { version = "1.2.3", features = ["hardcoded-credentials"] }
aws-config = { version = "1.6.2", features = ["behavior-version-latest"] }
# Required for cross builds: https://aws.github.io/aws-lc-rs/platform_support.html
aws-lc-rs = { version = "1.13.0", features = ["bindgen"] }
aws-sdk-dynamodb = { version = "1.73.0", features = ["behavior-version-latest"] }
aws-sdk-s3 = { version = "1.84.0", features = ["behavior-version-latest"] }
base64 = "0.22.1"
bit-vec = "0.6.3"
brotli = "8.0.1"
bzip2 = { version = "0.5.2", default-features = false }
calamine = "0.27.0"
chrono = "0.4.39"
clap = "4.5.38"
clap-stdin = "0.6.0"
clearscreen = "4.0.1"
colored = "3.0.0"
config = "0.15.11"
criterion = "0.5.1"
csv = "1.3.1"
dark-light = "2.0.0"
dirs = "6.0.0"
dotenvy = "0.15.7"
duckdb = "1.2.2"
file_type = "0.8.6"
flate2 = "1.1.1"
form_urlencoded = "1.2.1"
futures-util = "0.3.31"
getrandom = "0.3.3"
indexmap = "2.9.0"
indicatif = "0.17.11"
indoc = "2.0.6"
inquire = "0.7.5"
jiff = "0.2.13"
jwt-simple = { version = "0.12.12", default-features = false }
liblzma = "0.4.1"
libsql = "0.9.7"
lz4 = "1.28.1"
mockall = "0.13.1"
num-format = "0.4.4"
orc-rust = { version = "0.6.0", default-features = false }
os_info = "3.11.0"
polars = { version = "0.46.0", default-features = false, features = ["dtype-categorical"] }
polars-sql = "0.46.0"
postgresql_embedded = "0.18.4"
quick-xml = "0.37.5"
regex = "1.11.1"
reqwest = "0.12.15"
rusqlite = "0.30.0"
rust_decimal = "1.37.1"
rust-i18n = "3.1.4"
rustyline = "15.0.0"
serde = "1.0.219"
serde_json = "1.0.140"
serde_yaml = "0.9.34"
sha2 = "0.10.8"
sqlx = "0.7.4"
sqlparser = "0.56.0"
supports-color = "3.0.2"
sys-locale = "0.3.2"
syntect = "5.2.0"
tabled = "0.19.0"
tempfile = "3.20.0"
termbg = "0.6.2"
test-log = "0.2.17"
testcontainers = "0.24.0"
testcontainers-modules = "0.12.1"
thiserror = "2.0.12"
tiberius = { version = "0.12.3", default-features = false }
tokio = "1.45.0"
tokio-postgres = "0.7.13"
tokio-util = "0.7.15"
tracing = "0.1.41"
tracing-appender = "0.2.3"
tracing-indicatif = "0.3.9"
tracing-subscriber = "0.3.19"
unicode-width = "0.2.0"
url = "2.5.4"
uuid = "1.16.0"
wiremock = "0.6.3"
zstd = "0.13.3"

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
panic = "abort"
strip = true

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

[workspace.metadata.release]
shared-version = true
dependent-version = "upgrade"
tag-name = "v{{version}}"
