[workspace]
default-members = [
    "drivers/arrow",
    "drivers/avro",
    "drivers/cockroachdb",
    "drivers/csv",
    "drivers/delimited",
    "drivers/duckdb",
    "drivers/excel",
    "drivers/fwf",
    "drivers/json",
    "drivers/jsonl",
    "drivers/libsql",
    "drivers/mariadb",
    "drivers/mysql",
    "drivers/ods",
    "drivers/orc",
    "drivers/parquet",
    "drivers/polars",
    "drivers/postgres",
    "drivers/postgresql",
    "drivers/redshift",
    "drivers/rusqlite",
    "drivers/snowflake",
    "drivers/sqlite",
    "drivers/sqlserver",
    "drivers/test_utils",
    "drivers/tsv",
    "drivers/xml",
    "drivers/yaml",
    "rsql_cli",
    "rsql_core",
    "rsql_driver",
    "rsql_drivers",
    "rsql_formatters",
]
members = [
    "drivers/arrow",
    "drivers/avro",
    "drivers/cockroachdb",
    "drivers/csv",
    "drivers/delimited",
    "drivers/duckdb",
    "drivers/excel",
    "drivers/fwf",
    "drivers/json",
    "drivers/jsonl",
    "drivers/libsql",
    "drivers/mariadb",
    "drivers/mysql",
    "drivers/ods",
    "drivers/orc",
    "drivers/parquet",
    "drivers/polars",
    "drivers/postgres",
    "drivers/postgresql",
    "drivers/redshift",
    "drivers/rusqlite",
    "drivers/snowflake",
    "drivers/sqlite",
    "drivers/sqlserver",
    "drivers/test_utils",
    "drivers/tsv",
    "drivers/xml",
    "drivers/yaml",
    "examples/*",
    "rsql_cli",
    "rsql_core",
    "rsql_driver",
    "rsql_drivers",
    "rsql_formatters",
]
resolver = "2"

[workspace.package]
authors = ["Brian Heineman <brian.heineman@gmail.com>"]
categories = ["database"]
edition = "2024"
keywords = ["database", "mysql", "postgresql", "sql", "sqlite"]
license = "Apache-2.0 OR MIT"
repository = "https://github.com/theseus-rs/rsql"
rust-version = "1.85.0"
version = "0.17.2"

[workspace.dependencies]
ansi_colours = "1.2.3"
anyhow = "1.0.95"
arboard = "3.4.1"
arrow-array = "53.4.1"
async-trait = "0.1.85"
axoupdater = "0.9.0"
aws-credential-types = { version = "1.2.1", features = ["hardcoded-credentials"] }
aws-config = { version = "1.1.7", features = ["behavior-version-latest"] }
aws-sdk-s3 = { version = "1.77.0", features = ["behavior-version-latest"] }
base64 = "0.22.1"
bit-vec = "0.6.3"
calamine = "0.26.1"
chrono = "0.4.39"
clap = "4.5.24"
clap-stdin = "0.6.0"
clearscreen = "4.0.1"
colored = "3.0.0"
config = "0.15.4"
criterion = "0.5.1"
csv = "1.3.1"
dark-light = "2.0.0"
dirs = "6.0.0"
dotenvy = "0.15.7"
duckdb = "0.10.2"
file_type = "0.7.3"
form_urlencoded = "1.2.1"
futures-util = "0.3.31"
getrandom = "0.2.15"
indexmap = "2.7.0"
indicatif = "0.17.9"
indoc = "2.0.5"
inquire = "0.7.5"
jiff = "0.2.4"
jwt-simple = { version = "0.12.11", default-features = false }
libsql = "0.6.0"
mockall = "0.13.1"
num-format = "0.4.4"
orc-rust = "0.5.0"
os_info = "3.9.1"
polars = "0.46.0"
polars-sql = "0.46.0"
postgresql_embedded = "0.18.1"
quick-xml = "0.37.2"
regex = "1.11.1"
reqwest = "0.12.12"
rusqlite = "0.30.0"
rust_decimal = "1.35.0"
rust-i18n = "3.1.2"
rustyline = "15.0.0"
serde = "1.0.216"
serde_json = "1.0.135"
serde_yaml = "0.9.34"
sha2 = "0.10.8"
sqlx = "0.7.4"
sqlparser = "0.52.0"
supports-color = "3.0.2"
sys-locale = "0.3.2"
syntect = "5.2.0"
tabled = "0.18.0"
tempfile = "3.15.0"
termbg = "0.6.2"
test-log = "0.2.16"
testcontainers = "0.23.1"
testcontainers-modules = "0.11.3"
thiserror = "2.0.10"
tiberius = { version = "0.12.3", default-features = false }
tokio = "1.43.0"
tokio-postgres = "0.7.12"
tokio-util = "0.7.12"
tracing = "0.1.41"
tracing-appender = "0.2.3"
tracing-indicatif = "0.3.8"
tracing-subscriber = "0.3.19"
unicode-width = "0.2.0"
url = "2.5.4"
uuid = "1.11.0"
wiremock = "0.6.2"

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
panic = "abort"
strip = true

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

[workspace.metadata.release]
shared-version = true
dependent-version = "upgrade"
tag-name = "v{{version}}"
