# Documentation for this configuration file can be found here
# https://embarkstudios.github.io/cargo-deny/checks/cfg.html

[graph]
targets = [
    { triple = "aarch64-unknown-linux-musl" },
    { triple = "x86_64-unknown-linux-musl" },
    { triple = "aarch64-apple-darwin" },
    { triple = "x86_64-apple-darwin" },
    { triple = "x86_64-pc-windows-msvc" },
]

# https://embarkstudios.github.io/cargo-deny/checks/licenses/cfg.html
[licenses]
allow = [
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "BSL-1.0",
    "CC0-1.0",
    "ISC",
    "LGPL-3.0",
    "MIT",
    "MPL-2.0",
    "OpenSSL",
    "PostgreSQL",
    "Unicode-DFS-2016",
    "WTFPL",
]

[advisories]
ignore = [
    "RUSTSEC-2023-0071",
    "RUSTSEC-2023-0086",
    "RUSTSEC-2024-0320",
    "RUSTSEC-2024-0363",
    "RUSTSEC-2024-0370",
]

# https://embarkstudios.github.io/cargo-deny/checks/bans/cfg.html
[bans]
deny = []
multiple-versions = "deny"
wildcards = "allow"

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 }
]
