[package]
authors.workspace = true
categories.workspace = true
description = "rsql yaml driver"
edition.workspace = true
keywords.workspace = true
license.workspace = true
name = "rsql_driver_yaml"
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
async-trait = { workspace = true }
file_type = { workspace = true }
polars = { workspace = true, features = ["json", "lazy"] }
polars-sql = { workspace = true }
rsql_driver = { path = "../../rsql_driver", version = "0.19.0" }
rsql_driver_polars = { path = "../polars", version = "0.19.0" }
serde_json = { workspace = true, features = ["preserve_order"] }
serde_yaml = { workspace = true }
tokio = { workspace = true }
url = { workspace = true }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
tokio = { workspace = true, features = ["fs"] }

[dev-dependencies]
rsql_driver_test_utils = { path = "../test_utils", version = "0.19.0" }
tokio = { workspace = true, features = ["macros", "rt"] }

