[package]
authors.workspace = true
categories.workspace = true
description = "rsql snowflake driver"
edition.workspace = true
keywords.workspace = true
license.workspace = true
name = "rsql_driver_snowflake"
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
async-trait = { workspace = true }
base64 = { workspace = true }
file_type = { workspace = true }
jiff = { workspace = true }
jwt-simple = { workspace = true, default-features = false, features = ["pure-rust"] }
reqwest = { workspace = true, features = ["json", "gzip"] }
rsql_driver = { path = "../../rsql_driver", version = "0.18.3" }
serde_json = { workspace = true, features = ["preserve_order"] }
sha2 = { workspace = true }
sqlparser = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
url = { workspace = true }

[dev-dependencies]
tokio = { workspace = true, features = ["macros"] }
wiremock = { workspace = true }
