[package]
authors.workspace = true
categories.workspace = true
description = "rsql polars driver utilities"
edition.workspace = true
keywords.workspace = true
license.workspace = true
name = "rsql_driver_polars"
publish = false
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
async-trait = { workspace = true }
chrono = { workspace = true }
indexmap = { workspace = true }
polars = { workspace = true, features = ["polars-sql"] }
polars-sql = { workspace = true }
rsql_driver = { path = "../../rsql_driver", version = "0.16.0" }
tokio = { workspace = true, features = ["sync"] }

[dev-dependencies]
polars = { workspace = true, features = ["lazy"] }
tokio = { workspace = true, features = ["macros", "rt"] }
