[package]
authors.workspace = true
categories.workspace = true
description = "rsql ods driver"
edition.workspace = true
keywords.workspace = true
license.workspace = true
name = "rsql_driver_ods"
publish = false
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
async-trait = { workspace = true }
file_type = { workspace = true }
rsql_driver = { path = "../../rsql_driver", version = "0.16.0" }
rsql_driver_excel = { path = "../../drivers/excel", version = "0.16.0" }

[dev-dependencies]
rsql_driver_test_utils = { path = "../../drivers/test_utils", version = "0.16.0" }
tokio = { workspace = true, features = ["macros", "rt"] }
