name: Benchmarks

on:
  pull_request:
    types: [ opened, reopened, synchronize ]

permissions:
  contents: read

jobs:
  benchmark:
    name: Run Benchmarks
    runs-on: ubuntu-22.04
    permissions:
      pull-requests: write
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          components: 'llvm-tools-preview'
          toolchain: stable

      - name: Enable caching
        uses: Swatinem/rust-cache@v2

      - name: Install benchmarking tools
        uses: bencherdev/bencher@main

      - name: Run benchmarks
        env:
          BENCHER_API_TOKEN: ${{ secrets.BENCHER_API_TOKEN }}
          BENCHER_PROJECT: theseus-rs-rsql
          BENCHER_ADAPTER: rust_criterion
        run: |
          cargo build --release
          bencher run \
            --branch $GITHUB_HEAD_REF \
            --file-size ./target/release/rsql \
            --adapter json
          bencher run \
            --branch $GITHUB_HEAD_REF \
            --ci-number "${{ github.event.number }}" \
            --github-actions "${{ secrets.GITHUB_TOKEN }}" \
            --err \
            "cargo bench"
